.navBar {
    background-color: #2a2a2a;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    text-shadow: 5px 5px 0px #252323f5;
  }
  .navBar li {
    float: left;
    color: #e3e3e3;
    /* text-align: center; */
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
  }
.product{
    font-family: "Josefin Slab";
    color: rgb(209, 207, 212);
    font-size: larger;
    font-weight: bold;
}